<head>
    <meta charset="utf-8">
    <link href= "/public/assets/book_style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
    <title>Book Detail</title>
</head>
    <div class="book-detail">
        <div class="book-cover card-image">
            <img src="<%= book.url %>" alt="<%= book.title %>">
        </div>
        <div class="book-blob">
            <h1 class="book-title"> <%= book.title %></h1>
            <h3 class="book-summary-heading">Summary: 📖</h3>
            <p class="book-summary"> <%= book.description %> </p>
            <h3 class="book-summary-heading">Plot: 📖</h3>
            <p class="book-summary"> <%= book.plot %> </p>

            <h2 class="book-title">Author: <%= book.author %></h2>
            <div class="buy">
                <h2>Get the:</h2>
                <button>Book</button>
                <button>Audiobook</button>
            </div>
        </div>
    </div>


